<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NAL MEDIA</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <!-- begin header -->
    <header class="container">
        <div class="top-bar">
            <div class="row">
                <div class="col">
                    <div class="socials">
                        <button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <a class="socials-item" href="">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a class="socials-item" href="">
                            <i class="fab fa-google"></i>
                        </a>
                    </div>
                    <ul class="top-bar__tag_list d-lg-flex d-none">
                        <li class="tag-item">
                            <a href="">
                                <i class="fas fa-tags"></i>オフショア開発
                            </a>
                        </li>
                        <li class="tag-item">
                            <a href="">
                                <i class="fas fa-tags"></i>オフショア開発
                            </a>
                        </li>
                        <li class="tag-item">
                            <a href="">
                                <i class="fas fa-tags"></i>オフショア開発
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <div class="top-bar_link">
                        <button class="top-bar-language active" href=""> JA</button>
                        <button class="top-bar-language" href=""> VN</button>
                        <a class="" href=""> <i class="fas fa-search"></i>
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="title">
            <div class="logo">
                <a href="">
                    <span class="logo-title">NAL MEDIA</span>
                    <span class="logo-content d-none d-lg-block">ベトナムオフショア開発にまつわる情報を提供します</span>
                </a>
            </div>
            <hr/>
        </div>
        <hr>
        <div class="menu-bar">
            <nav class="navbar navbar-expand-lg ">
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="menu-bar__list navbar-nav">
                        <li class="menu-bar__item nav-item">
                            <a href="">オフショア開発</a>
                        </li>
                        <li class="menu-bar__item nav-item">
                            <a href="">NALブログ</a>
                        </li>
                        <li class="menu-bar__item nav-item">
                            <a href=""> ベトナム情報 </a>
                        </li>
                        <li class="menu-bar__item nav-item">
                            <a href="">お問い合わせ</a>
                        </li>
                    </ul>
                    <hr>
                </div>
            </nav>
            <hr class="d-lg-block d-none">
        </div>
    </header>
<!-- end header -->
<!-- begin body -->
    <div class="container banner">
            <div class="row">
                <div class="col-lg-7 post-left">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active post">
                                <img src="../assets/5.jpg" width="100%">
                                <div class="carousel-caption d-none d-md-block" >
                                    <div class="post-desc">
                                        <div class="post__category_name hot">HOT NEWS</div>
                                        <a class="post-title">
                                            ベトナムシステム開発会社NALのエンジニア1日の業務
                                        </a>
                                        <p class=" d-none d-lg-block">
                                            <span class="post-author">
                                                admin
                                            </span>,
                                            <span class="post-date">
                                                October 27, 2020
                                            </span>
                                        </p>
                                        <div class="post-content  d-none d-lg-block">
                                            今回は日本の案件をメインとしたベトナムシステム開発会社のNALを事例にして、エンジニアの1日の業務を紹介させていただきます

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item post">
                                <img src="../assets/banner-1_02.png" style="width:100%;">
                                <div class="carousel-caption d-none d-md-block">
                                    <div class="post-desc">
                                        <div class="post__category_name hot">HOT NEWS</div>
                                        <a class="post-title">
                                            日本とベトナム オフショア開発の課題
                                        </a>
                                        <p class=" d-none d-lg-block">
                                            <span class="post-author">
                                                admin
                                            </span>,
                                            <span class="post-date">
                                                October 27, 2020
                                            </span>
                                        </p>
                                        <div class="post-content d-none d-lg-block">
                                            JAVAと日本は政治経済共に良好な関係を築いており、ベトナム オフショア 会社から...
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

                <div class="col-lg-5 post-right">
                    <div class="post post-top">
                        <div class="post-img">
                            <img src="../assets/2.jpg" alt="banner" width="100%">
                        </div>
                        <div class="post-desc">
                            <div class="post__category_name topview">TOP VIEWED</div>
                            <a class="post-title" href="">
                                日本とベトナム オフショア開発の課題
                            </a>
                            <p class="d-lg-block d-none ">
                                <span class="post-author">
                                    admin
                                </span>,
                                <span class="post-date">
                                    October 14, 2020
                                </span>
                            </p>
                            <div class="post-content  d-none d-lg-block">
                                JAVA と日本は政治経済共に良好な関係を築いており、ベトナム オフショア 会社から...
                            </div>
                        </div>

                    </div>
                    <div class="post post-bottom">
                        <div class="post-img">
                            <img src="../assets/3.jpg" alt="banner" width="100%">
                        </div>

                        <div class="post-desc">
                            <div class="post__category_name toptitle">TOP TITLE</div>
                            <a class="post-title" href="">
                                日本とベトナム オフショア開発の課題
                            </a>
                            <p class=" d-none d-lg-block">
                                <span class="post-author">
                                    admin
                                </span>,
                                <span class="post-date">
                                    October 27, 2020
                                </span>
                            </p>
                            <div class="post-content  d-none d-lg-block">
                                現在ベトナムと日本は政治経済共に良好な関係を築いており、ベトナム オフショア 会社から...
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
<!-- begin content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="title title-latest">
                        <h2><a href="">Latest News</a></h2>
                        <div class="line">
                            <span class="black"> </span>
                            <span class="orange"> </span>
                        </div>
                    </div>
                    <!-- script lazyload -->
                    <script>
                        if ('loading' in HTMLImageElement.prototype) {
                          const images = document.querySelectorAll("img.lazyload");
                          images.forEach(img => {
                            img.src = img.dataset.src;
                          });
                        } else {
                            // Dynamically import the LazySizes library
                          let script = document.createElement("script");
                          script.async = true;
                          script.src =
                            "https://cdnjs.cloudflare.com/ajax/libs/lazysizes/4.1.8/lazysizes.min.js";
                          document.body.appendChild(script);
                        }
                      </script>
                    <div class="box">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="box-img">
                                    <a href="">
                                        <img class="lazyload" loading="lazy" data-src="../assets/6.jpg" width="100%" alt="jpg"></a>
                                </div>
                            </div>
                            <div class="col-lg-8 my-lg-0 my-4">
                                <div class="box-desc">
                                    <p class="box-tag green">NALブログ</p>
                                    <br>
                                    <a href="" class="box-title">Dockerfileについて</a>
                                    <p>
                                        <span class="box-date">November 17, 2020</span> by,
                                        <span class="box-author"> admin</span>
                                    </p>
                                    <p class="box-content">
                                        Linux、特にDockerにアプローチしている場合は、この記事が役に立つと思います。 この記事では、NALのSE Nguyen NgocDucがDockfileの概要を説明します
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="box-img">
                                    <a href="">
                                        <img class="lazyload" loading="lazy" data-src="../assets/7.jpg" width="100%" alt="jpg">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-8 my-lg-0 my-4">
                                <div class="box-desc">
                                    <p class="box-tag brown">ベトナム情報</p>
                                    <br>
                                    <a href="" class="box-title">ベトナムのビジネス規制改革</a>
                                    <p>
                                        <span class="box-date">November 17, 2020</span> by,
                                        <span class="box-author"> admin</span>
                                    </p>
                                    <p class="box-content">
                                        ベトナム政府は2020年から2025年までの事業活動に関する規定の廃止や簡素化の計画を規定した政府決議68号（68/NQ-CP）を公布した
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="box-img">
                                    <a href="">
                                        <img class="lazyload" loading="lazy" data-src="../assets/8.jpg" width="100%" alt="jpg"></a>
                                </div>
                            </div>
                            <div class="col-lg-8 my-lg-0 my-4">
                                <div class="box-desc">
                                    <p class="box-tag black">NALブログ</p>
                                    <br>
                                    <a href="" class="box-title">ベトナム・日本ICTウィーク2020</a>
                                    <p>
                                        <span class="box-date">November 17, 2020</span> by,
                                        <span class="box-author"> admin</span>
                                    </p>
                                    <p class="box-content">
                                        Japan ICTウィークは、今年で14年目を迎え、コロナウイルスの影響のため、オンラインの形式で11/9から11/13までの1週間、「ニューノーマル時代の日越ICT協力」というテーマで行われる
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="box-img">
                                    <a href=""> 
                                        <img class="lazyload" loading="lazy" data-src="../assets/9.jpg" width="100%" alt="jpg"></a>
                                </div>
                            </div>
                            <div class="col-lg-8 my-lg-0 my-4">
                                <div class="box-desc">
                                    <p class="box-tag green">オフショア開発</p>
                                    <br>
                                    <a href="" class="box-title">スクラムにおけるスクラムマスターの役割</a>
                                    <p>
                                        <span class="box-date">November 17, 2020</span> by,
                                        <span class="box-author"> admin</span>
                                    </p>
                                    <p class="box-content">
                                        スクラムマスターは、チームのパフォーマンスを向上させるためにスクラムモデルで重要な役割を果たす人物です。 スクラムマスターの役割については、次の記事で詳細を説明します </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="box-img">
                                    <a href=""> 
                                        <img class="lazyload" loading="lazy" data-src="../assets/10.jpg" width="100%" alt="jpg">
                                    </a>
                                    </div>
                            </div>
                            <div class="col-lg-8 my-lg-0 my-4">
                                <div class="box-desc">
                                    <p class="box-tag brown">NALブログ</p>
                                    <br>
                                    <a href="" class="box-title">2020年度</a>
                                    <p>
                                        <span class="box-date">November 17, 2020</span> by,
                                        <span class="box-author"> admin</span>
                                    </p>
                                    <p class="box-content">
                                        10月までの企業活動統計データー content: 10月と2020年の最初の10ヶ月の企業活動
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="box-img">
                                    <a href="">
                                        <img class="lazyload" loading="lazy" data-src="../assets/11.jpg" width="100%" alt="jpg">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-8 my-lg-0 my-4">
                                <div class="box-desc">
                                    <p class="box-tag green">NALブログ</p>
                                    <br>
                                    <a href="" class="box-title">NALが3年連続でベトナムIT会社トップに</a>
                                    <p>
                                        <span class="box-date">November 17, 2020</span> by,
                                        <span class="box-author"> admin</span>
                                    </p>
                                    <p class="box-content">
                                        ベトナムオフショア会社と日本顧客との協力を強化するためには、製品に関連する要求事項を満たすのにベトナムエンジニアは専門知識を継続的に向上すると共に日本の仕事文化に精通する必要がある
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="box-img">
                                    <a href="">
                                        <img class="lazyload" loading="lazy" data-src="../assets/12.jpg" width="100%" alt="jpg"></a>
                                </div>
                            </div>
                            <div class="col-lg-8 my-lg-0 my-4">
                                <div class="box-desc">
                                    <p class="box-tag black">NAL</p>
                                    <br>
                                    <a href="" class="box-title">ベトナム オフショア開発に関する問題解答</a>
                                    <p class="date-author">
                                        <span class="box-date">November 17, 2020</span> by,
                                        <span class="box-author"> admin</span>
                                    </p>
                                    <p class="box-content">
                                        ベトナムソフトウェアと情報技術サービス協会により、NALが「A-IoT」分野で【2020年ベトナム企業トップ10社】の一社として正式に選出された。NALは今年でベトナムIT会社トップランキングに3年連続でランクインした。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="box-img">
                                    <a href=""> 
                                        <img class="lazyload" loading="lazy" data-src="../assets/13.jpg" width="100%" alt="jpg"></a>
                                </div>
                            </div>
                            <div class="col-lg-8 my-lg-0 my-4">
                                <div class="box-desc">
                                    <p class="box-tag green">NAL</p>
                                    <br>
                                    <a href="" class="box-title">Java言語のメリットとデメリット</a>
                                    <p>
                                        <span class="box-date">November 17, 2020</span> by,
                                        <span class="box-author"> admin</span>
                                    </p>
                                    <p class="box-content">
                                        Javaがもたらすメリットにより、学習して使用する人々の数は日々増加しています。 ただし、言語がどれほど強力であっても、特定の制限があり、Javaも例外ではありません
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="morenews">
                        <div class="line"></div>
                        <a href=""> More news ></a>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="popular">
                        <div class="title title-popular">
                            <h2><a href="">Popular News</a></h2>
                            <div class="line">
                                <span class="black"> </span>
                                <span class="gray"> </span>
                            </div>
                        </div>
                        <div class="box">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="box-img">
                                        <a href=""> 
                                            <img class="lazyload" loading="lazy" data-src="../assets/14.jpg" width="100%" alt="jpg"></a>
                                    </div>
                                </div>
                                <div class="col-lg-8 my-lg-0 my-4">
                                    <div class="box-desc m-0">
                                        <p class="box-tag toptitle">オフショア開発</p>
                                        <br>
                                        <a href="" class="box-title">ベトナム オフショア開発に関する問題解答</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="box-img">
                                        <img class="lazyload" loading="lazy" data-src="../assets/15.jpg" width="100%" alt="jpg"></a>
                                    </div>
                                </div>
                                <div class="col-lg-8 my-lg-0 my-4">
                                    <div class="box-desc m-0">
                                        <p class="box-tag toptitle">オフショア開発</p>
                                        <br>
                                        <a href="" class="box-title">ベトナム オフショア開発に関する問題解答</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="box-img">
                                        <a href=""> 
                                            <img class="lazyload" loading="lazy" data-src="../assets/16.jpg" width="100%" alt="jpg"></a>
                                    </div>
                                </div>
                                <div class="col-lg-8 my-lg-0 my-4">
                                    <div class="box-desc m-0">
                                        <p class="box-tag toptitle">オフショア開発</p>
                                        <br>
                                        <a href="" class="box-title">ベトナム オフショア 会社を選ぶ７つの基準</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="box-img">
                                        <a href="">
                                            <img class="lazyload" loading="lazy" data-src="../assets/17.jpg" width="100%" alt="jpg"></a>
                                    </div>
                                </div>
                                <div class="col-lg-8 my-lg-0 my-4">
                                    <div class="box-desc m-0">
                                        <p class="box-tag toptitle">ベトナム情報</p>
                                        <br>
                                        <a href="" class="box-title">ベトナム オフショア 会社への選抜 メリットおよびデメリット</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="box-img">
                                        <img class="lazyload" loading="lazy" data-src="../assets/18.jpg" width="100%" alt="jpg"></a>
                                    </div>
                                </div>
                                <div class="col-lg-8 my-lg-0 my-4">
                                    <div class="box-desc m-0">
                                        <p class="box-tag toptitle">オフショア開発</p>
                                        <br>
                                        <a href="" class="box-title">Java言語のメリットとデメリット</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="morenews my">
                            <div class="line">  </div>
                            <a href=""> More news ></a>
                        </div>

                    </div>


                    <div class="tags">
                        <div class="title">
                            <h2><a href="">Tags</a></h2>
                            <div class="line">
                                <span class="black"> </span>
                                <span class="blue"> </span>
                            </div>
                        </div>
                        <div class="tags-list">
                            <ul>
                                <li>
                                    <a href="">
                                        <i class="fas fa-tags"></i> ベトナム システム開発 (18 Post)
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fas fa-tags"></i> ベトナム　オフショア (17 Post)
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fas fa-tags"></i> ベトナムIT会社 (16 Post)
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fas fa-tags"></i> ベトナムシステム開発 (12 Post)
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fas fa-tags"></i> ベトナムオフショア (14 Post)
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="banner">
                        <div class="banner-item">
                            <img class="lazyload" loading="lazy" data-src="../assets/banner-1.jpg" alt="banner">
                        </div>
                        <div class="banner-item">
                            <img class="lazyload" loading="lazy" data-src="../assets/banner-2.jpg" alt="banner">
                        </div>
                        <div class="banner-item">
                            <img class="lazyload" loading="lazy" data-src="../assets/banner-3.jpg" alt="banner">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <footer>
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-lg-6 my-2">
                    <div class="logo">
                        <img src="../assets/logo-NAL.jpg" width="100%" alt="logo">
                    </div>
                </div>
                <div class="col-lg-6 my-2">
                    <p class="footer_title">NAL MEDIA ベトナムオフショア開発にまつわる情報を提供します</p>
                    <p class="footer_content">
                        このサイトは、ベトナムにおけるオフショア開発の状況、ベトナムと日本の協力関係、およびテクノロジーに関する最新のニュースを更新し、NALの人々とお客様のストーリーを投稿しております。</p>
                    <p class="footer_andress">住所：3F, 84 Duy Tân, Cầu Giấy, Hà Nội, Việt Nam</p>
                    <p class="footer_phone">
                        電話番号:(+84)243-787-8654
                    </p>
                    <p class="footer_email">メールアドレス:info@nal.vn</p>
                </div>
            </div>
        </div>
    </footer>
    <hr>
    <div class="copyright">
        @copyright 2020- NAL MEDIA >DESGIN BY UICOOKIES
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.0/lazysizes.min.js" async=""></script>
</body>
</html>